<launch>
		<param name="num_blocks" value = "3" type="int" />
		<param name="configuration" value = "stack_des" type="str" />

		<node name="robot_interface" pkg="hpb_proj1" type="robot_interface.py">
		</node>
			

		<node name="controller" pkg="hpb_proj1" type="controller.py">
		</node>
</launch>
